<a href="https://colab.research.google.com/github/Rubana1/Lab-Experiment-/blob/main/Lab_Experiments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Experiment 1
import math
def fact(n):
  fact=math.factorial(n)
  return fact

def pal(n):
  n=str(n)
  rev=n[::-1]
  if n==rev:
    return True
  else:
    return False

n=int(input("Enter a number  "))
if n%2!=0:
  fact=fact(n)
  length = len(str(fact))
  print("The Factorial is {}. The length is {}.".format(fact,length))
elif n%2==0:
  pal=pal(n)
  print("Palindrome:",pal)

Enter a number  56
Palindrome: False

In [ ]:
# Experiment 2
str1 = input('Enter string 1: ')
str2 = input('Enter string 2: ')
count = 0
for i in str1:
  for j in str2:
    if i == j:
      count += 1
if count == len(str2):
  print("Yes")
else:
  print("No")

Enter string 1: engineering
Enter string 2: datascience
Yes

In [ ]:
# Experiment 3
li = []
li = list(input().split())
first = li[0]
print("the first element of the list is",first)
last = li[-1]
print("the last element of the list is",last)
li2 = li[-3:]
print("the last 3 elements are", li2)

python
the first element of the list is python
the last element of the list is python
the last 3 elements are ['python']

In [ ]:
# Experiment 4
li = list(map(int,input().split()))
flag = 0
for i in range(len(li) - 1):
  if li[i] <= li[i+1]:
    continue
  else:
    print("It is not in ascending order")
    flag = 1
    break

if flag == 0:
  print("It is in ascending order")

1 2 9 5 6
It is not in ascending order

In [ ]:
# Experiment 5
tu = tuple(map(int, input().split()))
string = ''
for i in range(len(tu) - 1):
  string += str(tu[i])
print('the string is ', string, '\n', type(string))

1 7 9 4 6
the string is  1794
 <class 'str'>

In [ ]:
# Experiment 6
tu = tuple(map(int, input().split()))
string = ''
for i in range(len(tu)):
  string += str(tu[i])
string = string[::-1]
revtu = ()
for i in string:
   revtu += (int(i),)


print("the reversed tuple is", revtu)

5 9 1 0 3
the reversed tuple is (3, 0, 1, 9, 5)

In [ ]:
# Experiment 7
set1 = set(input("Input first set:  ").split())
set2 = set(input("Input second set:  ").split())
if set1.issubset(set2):
  print("The first set is a subset of the second set")

else:
  print("It is not a subset")

Input first set:  room
Input second set:  order
It is not a subset

In [ ]:
# Experiment 8
color = {}
n = int(input("Enter the number of elements "))
for i in range(n):
  key = input("Enter the key: ")
  value = input("Enter the value: ")
  color[key] = value
print("Dictionary elements are: \n")
for key, value in color.items():
  print(key, value)

Enter the number of elements 4
Enter the key: orange
Enter the value: fruit
Enter the key: red
Enter the value: apple
Enter the key: yellow
Enter the value: banana
Enter the key: green
Enter the value: guava
Dictionary elements are:

orange fruit
red apple
yellow banana
green guava

In [ ]:
# Experiment 9
import numpy as np
li = list(map(int,input().split()))
a = np.array(li)
print("The Numpy Array is:",a)

5 7 2 4 1
The Numpy Array is: [5 7 2 4 1]

In [ ]:
# Experiment 10
import numpy as np
li = list(map(int,input().split()))
tu = tuple(map(int,input().split()))

a1 = np.array(li)
a2 = np.array(tu)
a12 = np.concatenate((a1,a2))
print("The combined array is:",a12)
print(type(a12))

4 3 9 2 1
5 4 2 9 1 6
The combined array is: [4 3 9 2 1 5 4 2 9 1 6]
<class 'numpy.ndarray'>

In [ ]:
# Experiment 11
import numpy as np
import pandas as pd
a = np.random.rand(3)
print("Array:",a)
df1 = pd.DataFrame(a)
print("DataFrame:\n", df1,"\n", type(df1),)

s = pd.Series(a)
print("\nSeries:\n",s)
df2 = pd.DataFrame(s)
print("DataFrame:\n", df2, "\n", type(df2))

Array: [0.30601636 0.57181089 0.5500203 ]
DataFrame:
           0
0  0.306016
1  0.571811
2  0.550020
 <class 'pandas.core.frame.DataFrame'>

Series:
 0    0.306016
1    0.571811
2    0.550020
dtype: float64
DataFrame:
           0
0  0.306016
1  0.571811
2  0.550020
 <class 'pandas.core.frame.DataFrame'>

In [ ]:
# Experiment 12
import pandas as pd
s1 = pd.Series([1, 2, 3, 4, 5])
s2 = pd.Series([2, 4, 6, 8, 10])
print("Addition: \n", s1 + s2)
print("Subtraction: \n", s1 - s2)
print("Multiplication: \n", s1 * s2)
print("Division: \n", s1 / s2)

Addition:
 0     3
1     6
2     9
3    12
4    15
dtype: int64
Subtraction:
 0   -1
1   -2
2   -3
3   -4
4   -5
dtype: int64
Multiplication:
 0     2
1     8
2    18
3    32
4    50
dtype: int64
Division:
 0    0.5
1    0.5
2    0.5
3    0.5
4    0.5
dtype: float64